output.png
*.tfstate
*.tfstate.backup
*.
*~
.srl

**/kubestack-release**/output/
**/kubestack-release**/*.tar.gz

secrets
**/openssl/*
!**/openssl/create-ca/*

**/ansible/*.retry
**/ansible/inventory
**/ansible/roles/defunctzombie.coreos-bootstrap
/kubestack-ipnett-v2/ansible/kubeconfig
/kubestack-ipnett-v2/ansible/configure_cluster/templates/.rendered
/kubestack-ipnett-v2/ansible/configure_cluster/.kubernetes-rbac-policies
/kubestack-ipnett-v2/etcd/*
/kubestack-ipnett-v2/kubernetes/*
/kubestack-ipnett-v2/masters/*
