output.png
*.tfstate
*.tfstate.backup
*.
*~
.srl

**/kubestack-release**/output/
**/kubestack-release**/*.tar.gz

secrets
**/openssl/*
!**/openssl/create-ca/*

**/ansible/*.retry
**/ansible/inventory
**/ansible/roles/
