---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: alertmanager
  namespace: {{ kubernetes_namespace }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: alertmanager
  name: alertmanager-config
  namespace: {{ kubernetes_namespace }}
data:
  alertmanager.yml: |
    global: {}
    route:
      group_by:
        - 'job'
      group_interval: 5m
      group_wait: 10s
      receiver: zabbix
      repeat_interval: 3h
    receivers:
    - name: zabbix
      webhook_configs:
        - url: http://alertmanager-zabbix-webhook:8080/alerts
          send_resolved: true

---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: alertmanager
  namespace: {{ kubernetes_namespace }}
  labels:
    app: alertmanager
spec:
  podSelector:
    matchLabels:
      app: alertmanager
  ingress:
    - from:
      - podSelector:
          matchLabels:
            app: alertmanager
      ports:
        - protocol: TCP
          port: 9094
        - protocol: UDP
          port: 9094
    - from:
      - podSelector:
          matchLabels:
            app: prometheus-server
      ports:
        - protocol: TCP
          port: 9093
