apiVersion: v1
kind: Config
clusters:
- name: kubecluster
  cluster:
{% if inventory_hostname in groups['masters'] %}
    server: http://127.0.0.1:8080
{% else %}
    certificate-authority-data: {{ lookup('file', 'tls/kubernetes/ca.pem')|b64encode }}
    server: https://apiserver.cluster.local:8443/
{% endif %}
users:
- name: local
{% if inventory_hostname in groups['workers'] + groups['storage'] %}
  user:
    client-certificate-data: {{ lookup('file', 'tls/kubernetes/{{ inventory_hostname }}.pem')|b64encode }}
    client-key-data: {{ lookup('file', 'tls/kubernetes/{{ inventory_hostname }}-key.pem')|b64encode }}
{% endif %}
contexts:
- context:
    cluster: kubecluster
    user: local
  name: kubeclustercontext
current-context: kubeclustercontext
