apiVersion: v1
kind: Config
clusters:
- name: kubecluster
  cluster:
    certificate-authority-data: {{ lookup('file', 'tls/kubernetes/ca.pem')|b64encode }}
    server: https://apiserver.cluster.local:8443/
users:
- name: local
  user:
    client-certificate-data: {{ lookup('file', 'tls/kubernetes/system:node:{{ inventory_hostname }}.pem')|b64encode }}
    client-key-data: {{ lookup('file', 'tls/kubernetes/system:node:{{ inventory_hostname }}-key.pem')|b64encode }}
contexts:
- context:
    cluster: kubecluster
    user: local
  name: kubeclustercontext
current-context: kubeclustercontext
