apiVersion: v1
kind: Config
clusters:
- name: kubecluster
  cluster:
{% if inventory_hostname in groups['masters'] %}
    server: http://127.0.0.1:8080
{% else %}
    certificate-authority-data: {{ lookup('file', 'tls/kubernetes/ca.pem')|b64encode }}
    server: https://apiserver.cluster.local:8443/
{% endif %}
users:
- name: system:kube-proxy
{% if inventory_hostname in groups['workers'] %}
  user:
    client-certificate-data: {{ lookup('file', 'tls/kubernetes/system:kube-proxy.pem')|b64encode }}
    client-key-data: {{ lookup('file', 'tls/kubernetes/system:kube-proxy-key.pem')|b64encode }}
{% endif %}
contexts:
- context:
    cluster: kubecluster
    user: system:kube-proxy
  name: kubeclustercontext
current-context: kubeclustercontext
