user_name = ""
password = ""

cluster_name = "someirdtest"

allow_ssh_from_v4 = [
    "192.168.1.0/24"
]

allow_lb_from_v4 = [
    "10.0.0.10/32",
    "10.0.0.20/32"
]

allow_api_access_from_v4 = [
    "192.168.1.0/24",
    "192.168.2.0/24"
]
