[Service]
Environment=KUBELET_VERSION={{k8s_ver_kubelet}}
Environment='RKT_OPTS= \
  --volume etc-cni,kind=host,source=/etc/cni,readOnly=true \
  --mount volume=etc-cni,target=/etc/cni \
  --volume opt-cni,kind=host,source=/opt/cni,readOnly=true \
  --mount volume=opt-cni,target=/opt/cni \
'
ExecStart=/usr/lib/coreos/kubelet-wrapper \
  --kubeconfig=/etc/kubernetes/kubeconfig.yaml \
  --require-kubeconfig \
  --network-plugin-dir=/etc/cni/net.d \
  --network-plugin={{network_plugin}} \
  --register-schedulable=false \
  --allow-privileged=true \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --hostname-override={{ansible_eth0.ipv4.address}} \
  --cluster-dns={{dns_service_ip}} \
  --cluster-domain=cluster.local
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
