[Service]
Environment=KUBELET_VERSION=${k8s_ver}
Environment='RKT_OPTS= \
  --volume etc-cni,kind=host,source=/etc/cni,readOnly=true \
  --mount volume=etc-cni,target=/etc/cni \
'
ExecStart=/usr/lib/coreos/kubelet-wrapper \
  --kubeconfig=${kubeconfig_path} \
  --require-kubeconfig \
  --network-plugin-dir=/etc/cni/net.d \
  --network-plugin=${network_plugin} \
  --register-schedulable=true \
  --allow-privileged=true \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --hostname-override=${hostname_override} \
  --cluster-dns=${dns_service_ip} \
  --node-labels=${labels} \
  --cluster-domain=cluster.local \
  --node-status-update-frequency=4s
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
