apiVersion: v1
kind: Pod
metadata:
  name: kube-apiserver
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-apiserver
    image: gcr.io/google_containers/hyperkube-amd64:v{{ k8s_ver }}
    command:
    - /hyperkube
    - apiserver
    - --bind-address=0.0.0.0
    - --etcd-servers={% set comma = joiner(',') %}
{%- for host in groups['masters'] -%}
{{ comma() }}https://{{ host }}.node.cluster.local:2379
{%- endfor %}

    - --etcd-cafile=/etc/ssl/etcd/ca.pem
    - --etcd-certfile=/etc/ssl/etcd/node.pem
    - --etcd-keyfile=/etc/ssl/etcd/node-key.pem
    - --allow-privileged=true
    - --service-cluster-ip-range={{ service_ip_range }}
    - --secure-port=8443
    - --admission-control=NamespaceLifecycle,DenyEscalatingExec,LimitRanger,ServiceAccount,ResourceQuota
    - --tls-cert-file=/etc/kubernetes/ssl/node.pem
    - --tls-private-key-file=/etc/kubernetes/ssl/node-key.pem
    - --client-ca-file=/etc/kubernetes/ssl/ca.pem
    - --service-account-key-file=/etc/kubernetes/service-key.pem
    - --runtime-config=extensions/v1beta1=true,extensions/v1beta1/networkpolicies=true,rbac.authorization.k8s.io/v1alpha1=true
    - --authorization-mode=RBAC
    - --authorization-rbac-super-user=kube-admin
    volumeMounts:
    - mountPath: /etc/kubernetes/ssl
      name: ssl-certs-kubernetes
      readOnly: true
    - mountPath: /etc/ssl/certs
      name: ssl-certs-host
      readOnly: true
    - mountPath: /etc/ssl/etcd
      name: ssl-certs-etcd
      readOnly: true
    - mountPath: /etc/kubernetes/service-key.pem
      name: kubernetes-service-key
      readOnly: true
    - mountPath: /etc/hosts
      name: hosts
      readOnly: true
  volumes:
  - hostPath:
      path: /etc/kubernetes/ssl
    name: ssl-certs-kubernetes
  - hostPath:
      path: /usr/share/ca-certificates
    name: ssl-certs-host
  - hostPath:
      path: /etc/ssl/etcd
    name: ssl-certs-etcd
  - hostPath:
      path: /etc/kubernetes/service-key.pem
    name: kubernetes-service-key
  - hostPath:
      path: /etc/hosts
    name: hosts
