apiVersion: v1
kind: Config
clusters:
- name: kubecluster
  cluster:
    certificate-authority-data: {{ lookup('file', 'tls/kubernetes/ca.pem')|b64encode }}
    server: https://apiserver.cluster.local:8443/
users:
- name: system:kube-controller-manager
  user:
    client-certificate-data: {{ lookup('file', 'tls/kubernetes/system:kube-controller-manager.pem')|b64encode }}
    client-key-data: {{ lookup('file', 'tls/kubernetes/system:kube-controller-manager-key.pem')|b64encode }}
contexts:
- context:
    cluster: kubecluster
    user: system:kube-controller-manager
  name: kubeclustercontext
current-context: kubeclustercontext
