apiVersion: v1
kind: Config
clusters:
- name: kubecluster
  cluster:
    certificate-authority-data: {{ lookup('file', 'tls/kubernetes/ca.pem')|b64encode }}
    server: https://{{ api_internal_lb_name }}:8443/
users:
- name: system:kube-scheduler
  user:
    client-certificate-data: {{ lookup('file', 'tls/kubernetes/system:kube-scheduler.pem')|b64encode }}
    client-key-data: {{ lookup('file', 'tls/kubernetes/system:kube-scheduler-key.pem')|b64encode }}
contexts:
- context:
    cluster: kubecluster
    user: system:kube-scheduler
  name: kubeclustercontext
current-context: kubeclustercontext
