[Service]
ExecStart=/opt/kubernetes/kubelet-{{ k8s_ver }} \
  --kubeconfig=/etc/kubernetes/kubeconfig.yaml \
  --require-kubeconfig \
  --network-plugin-dir=/etc/cni/net.d \
  --network-plugin=cni \
{% if inventory_hostname in groups['masters'] %}
  --register-schedulable=false \
{% endif %}
  --allow-privileged=true \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --hostname-override={{ inventory_hostname }} \
  --node-labels=lb={% if lb is defined and lb=='true' %}true{% else %}false{% endif %} \
  --cluster-dns={{ dns_service_ip }} \
  --cluster-domain=cluster.local \
  --anonymous-auth=false \
  --tls-cert-file=/etc/ssl/kubelet/node.pem \
  --tls-private-key-file=/etc/ssl/kubelet/node-key.pem \
  --client-ca-file=/etc/ssl/kubelet/ca.pem
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
