apiVersion: v1
kind: Config
clusters:
- name: nirdcluster
  cluster:
{% if inventory_hostname in groups['masters'] %}
    server: http://127.0.0.1:8080
{% endif %}
users:
- name: local
contexts:
- context:
    cluster: nirdcluster
    user: local
  name: nirdclustercontext
current-context: nirdclustercontext
