apiVersion: v1
kind: Config
clusters:
- name: nirdcluster
  cluster:
{% if inventory_hostname in groups['masters'] %}
    server: http://127.0.0.1:8080
{% else %}
    certificate-authority-data: {{ lookup('file', 'tls/kubernetes/ca.pem')|b64encode }}
    server: https://{{ hostvars[groups['masters'][0]]['public_ip'] }}/
{% endif %}
users:
- name: local
{% if inventory_hostname in groups['workers'] %}
  user:
    client-certificate-data: {{ lookup('file', 'tls/kubernetes/{{ inventory_hostname }}.pem')|b64encode }}
    client-key-data: {{ lookup('file', 'tls/kubernetes/{{ inventory_hostname }}-key.pem')|b64encode }}
{% endif %}
contexts:
- context:
    cluster: nirdcluster
    user: local
  name: nirdclustercontext
current-context: nirdclustercontext
