[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=docker.service
Requires=docker.service

[Service]
# Deprecation notes
# --register-schedulable is deprecated and replaced by the taint below it, but AWS cloud
# integration, node status and possibly other things still use the deprecated feature so
# we keep it for now
ExecStart=/opt/bin/kubelet \
  --config=/etc/kubernetes/kubelet-config.yaml \
  --kubeconfig=/etc/kubernetes/kubeconfig.yaml \
  --network-plugin=cni \
  --cni-bin-dir=/opt/cni/bin \
  --cni-conf-dir=/etc/cni/net.d \
  --volume-plugin-dir=/var/lib/kubelet/volumeplugins \
{% if inventory_hostname in groups['masters'] %}
  --register-schedulable=false \
  --register-with-taints=node.alpha.kubernetes.io/role=master:NoSchedule \
{% endif %}
  --allow-privileged=true \
  --node-labels=node-role.kubernetes.io/{% if inventory_hostname in groups['masters'] %}master{% else %}worker{% endif %}="" \
  --cloud-provider=aws
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
