# Usage:
# kubectl --kubeconfig=<kubeconfig>  -n kube-system \
# exec etcd-<master node> -i sh < scripts/etcd_health.sh

export ETCDCTL_ENDPOINTS={% set comma = joiner(',') %}
{%- for host in groups['masters'] -%}
{{ comma() }}https://{{ host }}.node.cluster.local:2379
{%- endfor %}
# Keys and certs for etcd v2 personality
export ETCDCTL_CA_FILE=/etc/ssl/etcd/ca.pem
export ETCDCTL_KEY_FILE=/etc/ssl/etcd/node-key.pem
export ETCDCTL_CERT_FILE=/etc/ssl/etcd/node.pem
echo "=== etcd health according to v2 API"
etcdctl cluster-health 2>&1
export ETCDCTL_API=3
# Keys and certs for etcd v3 personality
export ETCDCTL_CACERT=$ETCDCTL_CA_FILE
export ETCDCTL_CERT=$ETCDCTL_CERT_FILE
export ETCDCTL_KEY=$ETCDCTL_KEY_FILE
echo "=== etcd health according to v3 API"
etcdctl endpoint health 2>&1
