# Usage:
# kubectl --kubeconfig=<kubeconfig>  -n kube-system \
# exec etcd-<master node> -i sh < scripts/etcd_backup.sh

export ETCDCTL_ENDPOINTS={% set comma = joiner(',') %}
{%- for host in groups['masters'] -%}
{{ comma() }}https://{{ host }}.node.cluster.local:2379
{%- endfor %}
# Keys and certs for etcd v2 personality
export ETCDCTL_CA_FILE=/etc/ssl/etcd/ca.pem
export ETCDCTL_KEY_FILE=/etc/ssl/etcd/node-key.pem
export ETCDCTL_CERT_FILE=/etc/ssl/etcd/node.pem
export DEST2=/var/backups/etcd/v2/$(date -Iseconds)/
echo "=== backing up etcd v2 data to $DEST2"
etcdctl backup --data-dir /var/lib/etcd --backup-dir $DEST2
export ETCDCTL_API=3
# Keys and certs for etcd v3 personality
export ETCDCTL_CACERT=$ETCDCTL_CA_FILE
export ETCDCTL_CERT=$ETCDCTL_CERT_FILE
export ETCDCTL_KEY=$ETCDCTL_KEY_FILE
export DEST3=/var/backups/etcd/v3-snap-$(date -Iseconds)
echo "=== backing up etcd v3 data to $DEST3"
etcdctl snapshot save $DEST3
