apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    k8s-app: kubelet
  name: kubelet
  namespace: monitoring
spec:
  endpoints:
  - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
    honorLabels: true
    interval: 30s
    port: https-metrics
    scheme: https
    tlsConfig:
{% if kubelet_ca_path is defined %}
      caFile: {{ kubelet_ca_path }}
{% else %}
      insecureSkipVerify: true
{% endif %}
  - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
    honorLabels: true
    interval: 30s
    metricRelabelings:
    # Drop a bunch of metrics which are disabled but still sent, see
    # https://github.com/google/cadvisor/issues/1925. 
    - action: drop
      regex: container_(network_tcp_usage_total|network_udp_usage_total|tasks_state|cpu_load_average_10s)
      sourceLabels:
      - __name__
    path: /metrics/cadvisor
    port: https-metrics
    scheme: https
    tlsConfig:
{% if kubelet_ca_path is defined %}
      caFile: {{ kubelet_ca_path }}
{% else %}
      insecureSkipVerify: true
{% endif %}
  jobLabel: k8s-app
  namespaceSelector:
    matchNames:
    - kube-system
  selector:
    matchLabels:
      k8s-app: kubelet
