kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: kubelet-nodes-webhook
rules:
  - apiGroups:
    - ""
    resources:
    - nodes
    verbs:
    - get
    - list
    - watch
  - apiGroups:
    - ""
    resources:
    - nodes
    verbs:
    - proxy
  - apiGroups:
    - ""
    resources:
    - nodes/log
    - nodes/metrics
    - nodes/proxy
    - nodes/spec
    - nodes/stats
    verbs:
    - '*'

---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: kubelet-nodes-webhook
subjects:
{% for host in groups['servers'] %}
  - kind: User
    name: "{{ host }}-client"
{% endfor %}
roleRef:
  kind: ClusterRole
  name: kubelet-nodes-webhook
  apiGroup: rbac.authorization.k8s.io
