apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: {{ lookup('file', 'tls/kubernetes/ca.pem')|b64encode }}
    server: https://{{ api_external_lb_name }}:8443/
  name: {{ cluster_name }}
users:
- name: {{ cluster_name }}-admin
  user:
    client-certificate-data: {{ lookup('file', 'tls/kubernetes/kube-admin.pem')|b64encode }}
    client-key-data: {{ lookup('file', 'tls/kubernetes/kube-admin-key.pem')|b64encode }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: {{ cluster_name }}-admin
  name: {{ cluster_name }}-admin
current-context: {{ cluster_name }}-admin
