kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1alpha1
metadata:
  name: kube-worker-node
subjects:
{% for host in groups['workers'] %}
  - kind: User
    name: "{{ host }}"
{% endfor %}
roleRef:
  kind: ClusterRole
  name: system:node
  apiGroup: rbac.authorization.k8s.io


---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1alpha1
metadata:
  name: kube-worker-node-proxier
subjects:
{% for host in groups['workers'] %}
  - kind: User
    name: "{{ host }}"
{% endfor %}
roleRef:
  kind: ClusterRole
  name: system:node-proxier
  apiGroup: rbac.authorization.k8s.io
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1alpha1
metadata:
  name: kube-worker-permissive
subjects:
{% for host in groups['workers'] %}
  - kind: User
    name: "{{ host }}"
{% endfor %}
roleRef:
  kind: ClusterRole
  name: permissive-psp
  apiGroup: rbac.authorization.k8s.io
