---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: node-permissive
subjects:
  - kind: Group
    apiGroup: rbac.authorization.k8s.io
    name: system:nodes
  - kind: User
    apiGroup: rbac.authorization.k8s.io
    name: system:kube-proxy
roleRef:
  kind: ClusterRole
  name: permissive-psp
  apiGroup: rbac.authorization.k8s.io
