apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: metrics-scraper
  namespace: kube-system
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: metrics-scraper
    spec:
      containers:
      - name: metrics-scraper
        image: uninett-docker-uninett.bintray.io/paas2/metric-scraper
        env:
          - name: GRAPHITE_SERVER
            value: {{ graphite_server }}
          - name: GRAPHITE_PREFIX
            value: kubernetes.{{ cluster_name }}
